.page-space {
    margin: auto;
    max-width: 1000px;
    width: 100% min-width: 600px;

}

#background {
    background-image: url("img/background.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover background-color: #e6fff7;
    height: 200px;
}



/* .h1, h2, h3 ,p {
    font-style: gotham-rounded, helvetica neue, helvetica ;
} */


.navbar {
    width: 100%;
}


.loging-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.switch-user-button {
    margin: 2px;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 20px;
    width: 90%;
    background-color: #ff6600;
    border: black solid 1px;
    padding: 5px;
    justify-content: last baseline;

}

.main-page {
    background-color: #e6f2ff;
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    height: 95%;
    max-height: 800px;
}

.main-page-left-bar {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 5px;
    width: 70%;
    height: 95%;
}

.notes-input {
    width: 100%;
    height: 100%;
}

.drop-box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.drop-box {
    display: inline;
    justify-content: flex-end;
    width: 150px;
    height: 150px;
    margin: 5px;
}

#drop-box-1 {
    background-color: green;
    border: 2px solid rgb(0, 75, 0)
}

#drop-box-2 {
    background-color: yellow;
    border: 2px solid rgb(141, 141, 0)
}

#drop-box-3 {
    background-color: orange;
    border: 2px solid rgb(141, 92, 0)
}

#drop-box-4 {
    background-color: red;
    border: 2px solid rgb(128, 0, 0)
}



.main-page-side-bar {
    border: black solid 1px;
    background-color: white;
    margin: 10px 5px;
    width: 30%;
    padding: 5px;
}


#addDayButtonDiv {
    display: flex;
    justify-content: center;
    margin: auto;
    border: solid black 1px;
    padding: 5px;
}

.weeks-container {
    overflow: scroll;
    max-height: 700px;
}

.weekContainer {
    border: solid black 1px;
    padding: 5px;
}

.topic-container {
    margin-left: 10px;
}

.active {
    margin-left: 10px;
    padding: 3px;
}

.info-collection {
    padding: 5px;
    border: solid black 1px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.info-collection-left-side {
    width: 70%;
    border: solid black 1px;
    background-color: white;
}

.info-collection-notes {
    width: 30%;
    border: solid black 1px;
    background-color: white;
}

.over {
    border: 5px;
    padding: 5px;
}

.progress-bar-element {
    height: 95%;
    border: solid black 0.2px;
    background-color: lightgrey;
}

#dateInputDiv {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

#subjectInputLabelPairDiv {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

#checkboxesInputSection {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

#startingInputSubmitButton {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

#inputCollectionForm {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}