.body {
    background-color: #e6fff2;
}

.page-space {
    max-width: 90%;
    margin: auto;
    background-color: #e0ebeb;
}

#background {
    /* background-image: url("img/background.png"); */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e6fff2;
    height: 100px;
    align-content: center;
    padding: 25px;
}

#username {
    padding-right: 20px;
    margin-left: 20px;
}

.navbar {
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 20px;
    width: 95%;
    background-color: lightskyblue;
    border: black solid 1px;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .progress-bar {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .progress-bar {
        width: 100%;
    }
}

.main-page {
    border: black solid 1px;
    background-color: e6fff7;
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
}

.main-page-left-bar {
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    background-color: #e6ffe6;
    margin: 10px;
    width: 70%;
    justify-content: center;
    float: inline-end;
    height: 95%;
}

.notes_section_div {
    width: 70%;
    margin-bottom: 50px;
    align-self: center;
}

.notes-input {
    width: 90%;
    height: 90%;
}

.drop-box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #e6ffe6;
    float: inline-start;
}

#drop-box-1 {
    width: 150px;
    height: 150px;
}

#drop-box-2 {
    width: 150px;
    height: 150px
}

#drop-box-3 {
    width: 150px;
    height: 150px
}

#drop-box-4 {
    width: 150px;
    height: 150px
}

.drop-box {
    width: 45%;
    height: 50px;
    margin: 5px;
}

#drop-box-1 {
    border: green solid 3px;
    background-color: green;
}

#drop-box-2 {
    border: yellow solid 3px;
    background-color: yellow;
}

#drop-box-3 {
    border: orange solid 3px;
    background-color: orange;
}

#drop-box-4 {
    border: red solid 3px;
    background-color: red;
}

.main-page-side-bar {
    margin: 5px;
    width: 30%;
    padding: 5px;
}

.loging-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
}

#avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.switch-user-button {
    margin: 2px;
}

#addDayButtonDiv {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5px;
}

.weekHeader {
    background-color: darkgray;
}

.weeks-container {
    overflow: scroll;
    max-height: 90vh;
}

.weekContainer {
    background-color: #ebebe0;
    padding: 5px;
}

.topic-container {
    margin: 5px;
}

.active {
    margin-left: 10px;
    padding: 3px;
}

.info-collection {
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.info-collection-left-side {
    width: 70%;
    background-color: white;
}

.info-collection-notes {
    width: 30%;
    background-color: white;
}

.over {
    border: 5px;
    padding: 5px;
}

.progress-bar-element {
    height: 95%;
    margin: 2px 2px;
}

#dateInputDiv {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

#subjectInputLabelPairDiv {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

#checkboxesInputSection {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

#startingInputSubmitButton {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

#inputCollectionForm {
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.notes_section_div {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: start;
    height: 200px;
}

.notes_section {
    width: 85%;
    height: 75%;
    margin: auto;
    justify-items: center;
    justify-content: center;
}

.noteButton_Button {
    margin-top: 20px;
    visibility: hidden;
}

.noteButton_i {
    visibility: hidden;
}

.noteButton_Button.active {
    visibility: visible;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.noteButton_Button:hover.active {
    visibility: visible;
    background-color: RoyalBlue;
}