body {
    background-image: url("img/background.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e6fff7;
}


#myform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#userdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.slogan{
    margin-top: 90px;
    background-color: #ccf2ff;
    padding: 30px;
}

#registerButton {
    margin: auto;

}



.buttonsArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
    align-content: center;
}


.loginPageButton{

    width: 75px;
}


@media only screen and (max-width: 500px) {
    #myform {
      margin-top: 30px;
    }
  }